.container-home {
  padding: 0px 15%;
}

p {
  font-size: 1.3rem;
}

img {
  width: 300px;
  height: 300px;
}

.foto {
  width: 20%;
  height: 20%;
}

.brisasOne {
  width: 30%;
  height: 20%;
}

.brisasTwo {
  width: 40%;
  height: 50%;
}

.familia {
  width: 20%;
  height: 50%;
}

.keon {
  width: 15.4%;
  height: 40%;
}
